TestTypeApp/Service References/ManufactureRef/ManufactureService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://SoapClasses.soap.web.courses.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://Interfaces.soap.web.courses.org/" name="ManufactureService" targetNamespace="http://SoapClasses.soap.web.courses.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://Interfaces.soap.web.courses.org/" location="http://localhost:8080/socks-web/soap/manufactureservice?wsdl=ManufactureService.wsdl" />
  <wsdl:types />
  <wsdl:binding name="ManufactureServiceSoapBinding" type="ns1:ManufactureService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="read">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="read">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="readResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="find">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDB">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkDB">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkDBResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="save">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="readAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="readAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManufactureService">
    <wsdl:port name="ManufactureServiceImplPort" binding="tns:ManufactureServiceSoapBinding">
      <soap:address location="http://localhost:8080/socks-web/soap/manufactureservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>