TestTypeApp/Service References/ManufactureRef/ManufactureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://Interfaces.soap.web.courses.org/" name="ManufactureService" targetNamespace="http://Interfaces.soap.web.courses.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://Interfaces.soap.web.courses.org/" elementFormDefault="unqualified" targetNamespace="http://Interfaces.soap.web.courses.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="checkDB" type="tns:checkDB" />
      <xs:element name="checkDBResponse" type="tns:checkDBResponse" />
      <xs:element name="delete" type="tns:delete" />
      <xs:element name="deleteResponse" type="tns:deleteResponse" />
      <xs:element name="find" type="tns:find" />
      <xs:element name="findResponse" type="tns:findResponse" />
      <xs:element name="read" type="tns:read" />
      <xs:element name="readAll" type="tns:readAll" />
      <xs:element name="readAllResponse" type="tns:readAllResponse" />
      <xs:element name="readResponse" type="tns:readResponse" />
      <xs:element name="save" type="tns:save" />
      <xs:element name="saveResponse" type="tns:saveResponse" />
      <xs:complexType name="read">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:manufacture" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="manufacture">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="find">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:manufacture" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkDB">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkDBResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="save">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:manufacture" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="readAll">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="readAllResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:manufacture" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="checkDBResponse">
    <wsdl:part name="parameters" element="ns1:checkDBResponse" />
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part name="parameters" element="ns1:readResponse" />
  </wsdl:message>
  <wsdl:message name="readAllResponse">
    <wsdl:part name="parameters" element="ns1:readAllResponse" />
  </wsdl:message>
  <wsdl:message name="read">
    <wsdl:part name="parameters" element="ns1:read" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="ns1:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="find">
    <wsdl:part name="parameters" element="ns1:find" />
  </wsdl:message>
  <wsdl:message name="checkDB">
    <wsdl:part name="parameters" element="ns1:checkDB" />
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part name="parameters" element="ns1:save" />
  </wsdl:message>
  <wsdl:message name="findResponse">
    <wsdl:part name="parameters" element="ns1:findResponse" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="ns1:delete" />
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part name="parameters" element="ns1:saveResponse" />
  </wsdl:message>
  <wsdl:message name="readAll">
    <wsdl:part name="parameters" element="ns1:readAll" />
  </wsdl:message>
  <wsdl:portType name="ManufactureService">
    <wsdl:operation name="read">
      <wsdl:input name="read" message="ns1:read" />
      <wsdl:output name="readResponse" message="ns1:readResponse" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input name="find" message="ns1:find" />
      <wsdl:output name="findResponse" message="ns1:findResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkDB">
      <wsdl:input name="checkDB" message="ns1:checkDB" />
      <wsdl:output name="checkDBResponse" message="ns1:checkDBResponse" />
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input name="save" message="ns1:save" />
      <wsdl:output name="saveResponse" message="ns1:saveResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="ns1:delete" />
      <wsdl:output name="deleteResponse" message="ns1:deleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <wsdl:input name="readAll" message="ns1:readAll" />
      <wsdl:output name="readAllResponse" message="ns1:readAllResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>